<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="UTF-8">
    <title>About me</title>

  </head>
  
  <body>
    
    <h1>About me</h1>
    <p>Hi, i'm Jose and my skills are:</p>
    <ul>
      <li>Skill 1</li>
      <li>Skill 2</li>
      <li>Skill 3</li>
    </ul>
    <p>Do you want to return to the <%= link_to 'Home', root_path %> page?</p>
    
  </body>
</html>