<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="UTF-8">
    <title>About me</title>

  </head>
  
  <body>
    
    <h1>About me:</h1>
    <p>Hi, i'm Jose Rafael A.K.A El Pollo and i made this web application with Rails.</p>
    <p><%= link_to 'Back to home page', root_path %></p>
    
  </body>
</html>