<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="UTF-8">
    <title>Homepage</title>

  </head>
  
  <body>
    
    <h1>Welcome to my page</h1>
    <p>This is a list:</p>
    <ul>
      <li>Option 1</li>
      <li>Option 2</li>
      <li>Option 3</li>
    </ul>
    <p>Feel free to visit our <%= link_to 'About', about_path %> page</p>
    
  </body>
</html>