<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="UTF-8">
    <title>Homepage</title>

  </head>
  
  <body>
    
    <h1>Welcome to my first web development application with Rails</h1>
    <p><%= link_to 'Alpha Blog', articles_path %> | <%= link_to 'About me', about_path %></p>
    
    
  </body>
</html>