<div class="container">

  <footer class="footer">
  
    <small>
    
      Copyright © <%= link_to "Alpha Blog", root_path %>
      
      by <a href="https://www.instagram.com/jose.rafael37/">Jose Pino</a>
    
    </small>
  
    <nav>
    
      <ul>
      
        <li><%= link_to "About", about_path %></li>
      
      </ul>
    
    </nav>
  
  </footer>

</div>